.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: radial-gradient(rgb(165, 165, 165), rgb(239, 240, 243));
}

.grid {
    border: 1px solid;
    width: 30rem;
    height: 30rem;

    display: grid;
}

.square {
    width: 100%;
    height: 100%;
    border: 1px solid;
}

.buttons {
    margin-top: 50px;
    margin-bottom: 20px;
}

button {
    border: none;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    font-weight: 700;
}

button:hover {
    opacity: 90%;
}

.clear {
    background: rgb(59, 59, 59);
    color: white;
}

.color {
    background: linear-gradient(rgba(14, 94, 214, 0.918), rgb(240, 29, 29));
    color: white;
}

.gray-scale {
    background: linear-gradient(rgba(31, 31, 30, 0.753), rgb(161, 158, 158));
    color: white;
}